<html>
    <head>
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-route/angular-route.min.js"></script>
        <script src="/node_modules/lodash/lodash.min.js"></script>
        <script src="/node_modules/restangular/dist/restangular.min.js"></script>
        <!-- inject:css -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
        <script src="/app/ts/app.js"></script>
    </head>
    <body ng-app="app">
        <header>
            <span>Food &amp; Pain Tracker</span>
            <span ng-controller="UserController as ctrl">{{ctrl.isAuthenticated ? "Welcome, " + ctrl.firstName : "Please sign in"}}</span>
        </header>
        <main ng-view>
        </main>
    </body>
</html>