@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Open Sans,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

header{
    height: 50px;
    background-color: #2C3D55;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.l-container{
    display: flex;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
    background-color: #CACED3;
    margin: 16px;
}

.l-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.l-cards--empty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: calc(100vh - 215px);
    width: 100%;
}

.c-link{
    cursor: pointer;
    color: #536271;
}
.c-link:hover{
    text-decoration: underline;
}

.c-card{
    display: flex;
    width: 300px;
    height: 250px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 12px;
    margin: 12px;
    background-color: #fff;
    justify-content: space-around;
}

.c-card__info{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.c-card__key{
    font-weight: bold;
    align-self: flex-end;
}

.c-card__actions{
    display: flex;
    justify-content: space-between;
}

.c-button.c-button--fab{
    width: 75px;
    height: 75px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    transition: all 0.5s;
    font-size: 64px;
}

.c-button.c-button--fab.c-button--clicked{
    transform: rotate(90deg);
}


.c-button{
    height: 30px;
    width: 100px;
    background-color: #536271;
    border: none;
    color: #FFF;
    margin: 16px;
}

.c-button:hover{
    background-color: #44515D;
}

.c-button--link{
    background-color: rgba(0,0,0,0);
    color: #536271;
}

input[type="number"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="number"]:focus,
input[type="number"].focus,
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}